#light {
    background-color: #fff;
}

#dark {
    background-color: #111111;
}

h3 {
    color: #111111;
}

#dark h3 {
    color: #fff;
}

p {
    color: #111111;
    background-color: transparent;
    font-size: 20px;
}

#dark p {
    color: #fff;
}

.repositorioUnico {
    background-color: transparent;
}

.pesquisaRepos .numeroRepos {
    margin: 15px 0 0 -18%;
    font-size: 20px;
}

.pesquisaRepos {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
    justify-content: center;
}

.pesquisaRepos p {
    color: #111111;
    font-size: 13px;
    margin: 2px 0;
}

#dark .pesquisaRepos p {
    color: #fff;
}

.pesquisaRepos input {
    background-color: transparent;
    color: white;
    padding: 9px;
    border: none;
    border: 1px solid #003a90;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.5s;
}

#dark .pesquisaRepos input {
    color: #111111;
}

#dark .pesquisaRepos input:focus {
    background-color: #fefefe;
    color: black;
    border: none;
    outline: none;
}

.repositorioUnico {
    gap: 15px 30px;
    width: 70%;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

.teste {
    padding: 2px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

    overflow: hidden;
    /* Removendo barra de rolagem */
    display: -webkit-box;
    text-overflow: ellipsis;
    /* Adicionando "..." ao final */
    -webkit-line-clamp: 6;
    /* Quantidade de linhas*/
    -webkit-box-orient: vertical;
}

.teste {
    background-color: rgb(233, 233, 233);
}

#dark .teste {
    background-color: #1d1d1d;
}

.teste p,
h3 {
    margin: 10px 0;
    background-color: transparent;
}

.teste a {
    text-decoration: none;
}

.teste a h3:hover {
    color: #555555;
}

#dark .teste a h3:hover {
    color: #9f9f9f;
}

.teste p:nth-of-type(1) {
    color: #555555;
    font-size: 15px;
}

#dark .teste p:nth-of-type(1) {
    color: #888888;
}

.linguagem {
    font-size: 14px;
    color: #9f9f9f;
    display: flex;
}